Repository MadgeNolan/FHEResearchDataSharing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, solhint --fix

chore: chore: create .prettierignore
  .prettierignore
Due: none

chore: update .prettierrc
  .prettierrc
Due: none

chore: chore: create .solhint
  .solhint
Due: none

docs: update CI_CD documentation
  CI_CD.md
Due: prettier --write

chore: update codecov.yml
  codecov.yml
Due: prettier --write

docs: update DEPLOYMENT documentation
  DEPLOYMENT.md
Due: prettier --write

feat: add new features: hardhat.config
  hardhat.config.js
Due: eslint --fix, prettier --write

chore: chore: index
  index.html
Due: none

docs: update LICENSE documentation
  LICENSE
Due: none

chore: update package.json
  package.json
Due: prettier --write

docs: update QUICK_START documentation
  QUICK_START.md
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

docs: update SECURITY documentation
  SECURITY.md
Due: prettier --write

docs: update TESTING documentation
  TESTING.md
Due: prettier --write

chore: update vercel.json
  vercel.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.sol)) or (any of: *.{json,md,yml,yaml})
  solhint --fix: any of: *.sol
